@model Entities.Concrete.Experience

@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Add Experience Page</h1>
@using (Html.BeginForm("AddExperience", "Experience", FormMethod.Post))
{

    <br />
    @Html.Label("Experience Name")
    @Html.TextBoxFor(x=>x.Name, new {@class="form-control"})

    <br />

    @Html.Label("Date")
    @Html.TextBoxFor(x=>x.Date, new {@class="form-control"})
    <br />

    @Html.Label("Image")
    @Html.TextBoxFor(x=>x.ImageUrl, new {@class="form-control"})
    <br />

    @Html.Label("Description")
    @Html.TextAreaFor(x=>x.Description, new {@class="form-control"})

    <button href="/Experience/Index" class="btn btn-success">Add Experience</button>
    <a href="/Experience/Index" class="btn btn-primary">Experiences</a>

}

